<% content_for :header_tags do %>
  <style>
    body.theme-Pixel-cookers table.list thead th { font-size: inherit; padding-bottom: 8px; }
    body.theme-Pixel-cookers table.list thead th a { color: #0071bc; }
  </style>
<% end %>

<div class="contextual">
  <%= render :partial => 'branch_change' %>
  <a></a>
</div>

<h2><%= t(:agw_browse_pages) %></h2>
<% if @has_results %>
  <div class="autoscroll">
    <table class="list entries">
      <thead>
        <tr><th style="text-align: left;"><%= @breadcrumb %></th></tr>
      </thead>
      <tbody>
        <% for item in @folders %>
        <tr class="entry dir">
          <td><a href="<%= url_for :path => item[:path] %>" class="icon icon-folder"><%= item[:name] %></a></td>
        </tr>
        <% end %>
        <% for item in @files %>
        <tr class="entry file">
          <td><a href="<%= url_for :action => :show, :page => item[:path] %>" class="icon icon-file"><%= item[:name] %></a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="error"><%= t :agw_pages_no_results %></p>
<% end %>

<%= render :partial => 'sidebar' %>