<%= form_for @project_agw_config, :url => { :controller => 'project_agw_config', :action=> 'update', :project_id => @project } do |f| %>

<div class="box tabular">
  <p>
    <%= label(:project_agw_config, :wikis_subdir) %>
    <%= f.text_field :wikis_subdir %>
  </p>
  <p>
    <%= label(:project_agw_config, :auto_toc) %>
    <%= f.check_box(:auto_toc) %>
  </p>
</div>

  <p><%= f.submit(:value=>:save) %></p>
<% end %>
